.header{
	height : 80px;
	font-family: Georgia;
	font-size: 13px;
}
.header2{
	background-color: #3355aa;
	height : 40px;
	width : 100%;
}
.navigation { 
	list-style-type: none;
	margin: 2px;
    padding: 0;
    font-size : 15px;
}
.navigation li {
	display: inline;
	padding : 0px;
	}
.navigation li a{
	color : #ffffff;
	padding : 0px;
}
.navigation li form {
	display: inline;
	padding : 0px;
	float : right;
	color : #ffffff;
	}
.searchbutton{
	padding : 5px;
	width : 45px;
	background-color : #3355aa
	}

.banner img {
	width:100%;
	margin-top:35px;
	
}	
.banner {
	background-color: #F8F8FF;
	font-size: 14px;
	box-shadow: 10px 10px 5px #888888;
}
.heading {
	margin-top: 15px;
	color: #3355aa;
	font-size: 16px;
	margin-left: 0px;
	font-family:Georgia;
}
.yellowhr{
	border : 3px SOLID YELLOW;
}
.headingcontent {
	color :BLACK;
	text-align: justify;
}
.fontAuthor {
	font-size:10px;
	color : black;
	font-family:Georgia;
}
.belowpart{
	background-color: #F0FFFF;
	padding-top: 25px;
	padding-bottom:25px;
}

.SectorsweWork{
	font-size:28px;
	font-family: Georgia;

}
 .boxed div{
 	background-color: WHITE;
 	padding : 75px;
}
.internalboxcontent{
	color :#3355aa;
	font-size:16px; 
}
.graybox{
 	background-color: WHITE;
	height:250px;
	padding : 5px;
}